pre.prettyprint {

  padding: 2px;
  border: 1px solid #eee;
  border-radius: 20px 0px 20px 0px;
}


.box {

  background-color: #fff;
  border: 3px #ccc solid;
  padding:5px;
  margin-bottom:5px;

}
